<h1>New User view</h1>
<!-- Plain HTML form --
<form action="/users" method="post" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="username">Username:</label>
  <input type="text" id="username" name="user[username]">

  <label for="email">Email:</label>
  <input type="text" id="email" name="user[email]">

  <label for="password">Password:</label>
  <input type="password" id="password" name="user[password]">

  <input type="submit">
</form>
-->

<!-- Rails form_tag form
<%= form_tag('/users') do %>
  <%= label_tag 'username', nil, placeholder: 'Username: ' %>
  <%= text_field_tag 'user[username]', 'username' %>

  <%= label_tag 'email', nil, placeholder: 'Email: ' %>
  <%= email_field_tag 'user[email]', 'email' %>

  <%= label_tag 'password', nil, placeholder: 'Password: ' %>
  <%= password_field_tag 'user[password]' %>

  <%= submit_tag "Create new user" %>
<% end %>
-->


<%= form_for @user do |u| %>
  <%= u.label :username %>
  <%= u.text_field :username, placeholder: 'your username' %>

  <%= u.label :email %>
  <%= u.email_field :email, placeholder: 'your email' %>

  <%= u.label :password %>
  <%= u.password_field :password, placeholder: 'password' %>

  <%= u.submit %>
<% end %>